*{
    box-sizing: border-box;
    list-style: none;
}


/* style*/

body {

    background: #dfdcd5;
}

header {

    background: linear-gradient(45deg,#33CAFF, transparent 90%), url("images/placeimg_640_480_arch.jpg") no-repeat top center ;
  background-size: cover;
  box-shadow:6px 5px 3px rgb(0,0,0,.1 ) ;
  margin: 20px; 
  
  
}

a {
    color: yellow;

}

a:link {

    color: violet;
    
}

a:visited {

    color: green;
}

a:hover {

    color: red;
}

h1 {

    color: white;
    text-transform: uppercase;
    text-align: center;
}

p {

    text-indent: 2.3rem;
    padding: 25px;
    margin-top: 30px;
}


.main-nav {
    width: 100%;
    background: black;
    overflow: auto;
    
}


.nav {

    margin-right: 10px;
}
.nav li {

    
    padding: 10px;
}

div {

    margin-bottom: 35px;
}
  

div ul {

    float: right;
}

article {

    text-align: center;

}
.col {
    line-height: 1.6rem;
    margin: 80px 30px 31px 30px;
    padding: 20px 40px 40px;
    max-width: 500px;
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 20px;
    transition: all .5s;
    box-shadow: 6px 5px 3px rgb(0,0,0,.1 );
    font-family: 'Alegreya Sans SC', sans-serif;
}

.centerAll {

    display: flex; 
      max-width: 64rem;
justify-content: space-around;
      margin: 0 auto;
}

li::before {
    content: "•"; 
    padding-right: 8px;
    color: white; 
  }


/* Styles for larger screens */

@media screen and (min-width: 500px) {
  
    .col {

        width: 90%;
        
      }

      .header {

        width: 100%;
      }
      .centerAll {

        max-width: 80rem;
        display: flex; 
    justify-content: space-around;
          margin: 0 auto;
    }

    span {

        font-size: 5rem; 
        color:rgb(255, 94, 0);
        display: inline-block;
        float: left;
        line-height: 0.8;
        margin: -37px -30px 1px 14px;
        font-family: 'Alegreya Sans SC', sans-serif;
     
     }
}