/* Global Layout Set-up */

/* Extra-fonts: 

font-family: 'Dancing Script', cursive;
"Lucida Grande, Optima,serif" ,
font-family: 'Alegreya Sans SC', sans-serif;*/
 
* {

  box-sizing: border-box;
  list-style: none;
  
}


  
body {
  margin: 0;
  padding: 0;
  font: 1em/2 "Lucida Grande, Optima,serif";
  background: #dfdcd5;
}



/* Link Styles */


header {

  
  text-align: center;
  background: linear-gradient(45deg,#33CAFF, transparent 90%), url('http://placeimg.com/640/480/tech/sepia') no-repeat top center ;
  background-size: cover;
  box-shadow:6px 5px 3px rgb(0,0,0,.1 ) ;
  margin: 10px;
  
  
}


.home {
margin-right: 2000px;
  padding: 5px;
}

.Experience {
  margin-left: 25px;
  padding: 5px;
}
a:link {

  color:blueviolet;
  text-decoration: underline;
}

a:visited {

  color: green;
  text-decoration: none;
}

a:hover {

  color:white;
}

/* Section Styles */

.main-nav {
  
  width: 100%;
  min-height: 50px;
  background: black;
  list-style: none;
  overflow: auto;
  
 
}

 
li::before {
  content: "•"; 
  padding-right: 8px;
  color: white; 
}

.nav {

  margin-right: 10px;
}
.nav a {
  transition: all .5s;
}
.nav:link {

  color: violet;
}

.nav:visited {

  color: green;
}

.nav a:hover {
  color: white
}

.nav li {

  float: right;
  padding: 10px;
  
  
}


 .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(11, 185, 84);
  transition: all .5s;
  box-shadow: 6px 5px 3px rgb(0,0,0,.1 );
}
 .tag-name {

  margin-bottom: -25px;
  text-shadow:  5px 3px rgb(0,0,0,.1 ) ;
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: rgb(206, 48, 48);
 }

.tag {
  
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 


.name {

  font-size: 2em;
  color:white;
  
  
}
.location {
  
  color: yellow;
  text-shadow: 6px 5px 3px rgb(0,0,0,.2 );
}
.card {
  margin: 80px 30px 31px 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 20px;
  transition: all .5s;
  box-shadow: 6px 5px 3px rgb(0,0,0,.1 );
  font-family: 'Alegreya Sans SC', sans-serif;
}


.card:hover {
  border-color: #ff99ff;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: 0.5rem;
  font-weight: 700;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.email {

  background-image: url(images/emailLogo.svg);
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}

.icon {

  font-size: 0.3em;
  font-weight: 500;
  margin-top: -35px;
}

/* Styles for larger screens */


@media screen and (min-width: 500px) {
  

  .flex {
        
      display: flex; 
      max-width: 64rem;
justify-content: space-around;
      margin: 0 auto;
  }

  



  footer {

    text-align: center;
    font-size: 1.3em;
    max-width: 95%;
    
    margin: 40px auto;
  }    


  /* animations*/

 .style-on {

  background-color: lightcoral;
  animation: pulse 10s infinite;
  box-shadow: 6px 5px 3px rgb(0,0,0,.1 );
  
 }
 @keyframes pulse {
  0% {
    background-color: rgb(223, 180, 180);
  }
  50% {
    background-color: #FF4136;
  }
  100% {
    background-color: rgb(187, 194, 96);
  }

}

.profile-image:hover {
 
  animation: trans 10s infinite;
  animation-iteration-count: 1;
  animation-delay: 100ms;
  

}
@keyframes trans {

0% {

  transform: translate(-50%,0%);
}

30% {

  transform: translate(0%,50%);
}

60% {

  transform: translate(0%,-50%);
}
100% {
  transform: translate(50%,0%);


}
}

}


